@model SAS_LMS.Models.Module


<div class="panel panel-default">
    <div class="panel-heading">
        <span class="pull-right">
            @Html.ActionLink("Back", "Details", "Courses", new { id = Model.CourseId }, null)
        </span>

        <h1 class="panel-title">Module Details</h1>

    </div>
    <div class="panel-body">

        <table class="table">
            <tr>
                <td>Course :  @Model.Course.Name</td>
            </tr>
            <tr>
                <td>Module :  @Model.Name</td>

            </tr>
            <tr>
                <td>Module Start Date : @Model.StartDate.ToShortDateString()</td>
                <td>Module End Date : @Model.EndDate.ToShortDateString()</td>
            </tr>
        </table>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">

        <span class="pull-right">
            @Html.ActionLink("Add a new Activity", "Create", "Activities", new { id = Model.Id }, null)
        </span>

        <h1 class="panel-title">Actvities for the Module</h1>
    </div>
    <div class="panel-body">

        <table class="table table-striped">
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Activity Type</th>
                <th></th>
            </tr>

            @if (Model.ModuleActivities.Count() == 0)
            {
                <tr>
                    <td>
                        Activities are yet to be planned
                    </td>
                </tr>
            }
            else
            {
                foreach (var item in Model.ModuleActivities)
                {
                    <tr>
                        <td>
                            @item.Name
                        </td>

                        <td>
                            @item.Description
                        </td>

                        <td>
                            @item.StartDate.ToShortDateString()
                        </td>

                        <td>
                            @item.EndDate.ToShortDateString()
                        </td>

                        <td>
                            @item.ActivityType.Name
                        </td>

                        <td>

                            <button type="button" class="btn btn-default btn-xs pull-right" onmouseover="this.style.cursor='pointer'" data-toggle="tooltip" title="Delete the Module"
                                    onclick="@("window.location.href='" + @Url.Action("Delete", "Activities", new { id = item.Id }) + "'");">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                            <button type="button" class="btn btn-default btn-xs pull-right" onmouseover="this.style.cursor='pointer'" data-toggle="tooltip" title="Edit the Module"
                                    onclick="@("window.location.href='" + @Url.Action("Edit", "Activities", new { id = item.Id, moduleId = Model.Id }) + "'");">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>

                        </td>

                    </tr>
                }
            }
        </table>
    </div>
</div>
