@model IEnumerable<SAS_LMS.Models.Document>


<div class="pull-right">
    @Html.ActionLink("Back", null, null, null, new { href = Request.UrlReferrer })
</div>
<br />
<hr />


<h2>Uploaded documents for the course</h2>

<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DocName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DocName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Download", "DownloadFile", new { id=item.Id }) 
        </td>
    </tr>
}

</table>
