@model SAS_LMS.Models.Course

<div>
    <span class="pull-right">@Html.ActionLink("Back", null, null, null, new { href = Request.UrlReferrer })</span>
</div>

<br />

<div>

    <br />
    <table class="table table-responsive table-bordered" >
        <tr>
           
            <th>Document Name</th>
            <th>Document Description</th>
            <th>Created Date</th>
            <th>Created By</th>
        </tr>
        <tr id="CourseView"><td colspan="5" id="DocView">Course : @Model.Name</td></tr>
        @foreach (var item in Model.CourseDocuments)
            {
            <tr >
               
                <td>@Html.ActionLink(@item.DocName, "DownloadFile", "Documents", new { id = item.Id },"")</td>
                <td> @item.Description</td>
                <td>@item.CreatedDate</td>
                <td>@item.CreatedBy</td>
            </tr>
        }

        @foreach (var module in Model.CourseModules)
        {

            <tr id="Module"><td colspan="5" id="DocView">Module : @module.Name</td></tr>
            foreach (var item in module.ModuleDocuments)
            {
                <tr >
                    <td>@Html.ActionLink(@item.DocName, "DownloadFile", "Documents", new { id = item.Id }, "")</td>

                    <td>@item.Description</td>
                    <td>@item.CreatedDate</td>
                    <td>@item.CreatedBy</td>
                </tr>

            }
            foreach (var activity in module.ModuleActivities)
            {
                <tr id="Activities"><td colspan="5" id="DocView">Activity : @activity.Name</td></tr>
                foreach (var item in activity.ActivityDocuments)
                {
                    <tr >
                        
                        <td>@Html.ActionLink(@item.DocName, "DownloadFile", "Documents", new { id = item.Id }, "")</td>

                        <td>@item.Description</td>
                        <td>@item.CreatedDate</td>
                        <td>@item.CreatedBy</td>
                    </tr>
                }


            }
           
        }

        
    </table>
</div>