@model SAS_LMS.Models.Course



<div>
    <span class="pull-right">@Html.ActionLink("Back", null, null, null, new { href = Request.UrlReferrer })</span>
    <h2 id="Courseviewheading">Course</h2>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>
    </dl>
</div>
<hr />
<br />
<div>
    <h2 id="Courseviewheading">Modules and Activities</h2>
    <br />
    <table class="table table-condensed table-responsive table-bordered" >
        <tr>
            <th>Module </th>
            <th>Activity</th>
            <th>Type</th>
            <th>Start Date</th>
            <th>End Date</th>
           
        </tr>
        @if (Model.CourseModules.Count() == 0)
        {

            <tr>
                <td>
                    No Modules and Activities
                </td>
            </tr>

        }
        else
        {


            foreach (var module in Model.CourseModules)
                {

                <tr id="Module">

                    <td>
                        @Html.ActionLink(@module.Name, "StudentsModuleDocuments", "Documents", new { id = module.Id }, "")
                    </td>
                    <td colspan="2"></td>
                    <td>@module.StartDate.ToString(string.Format("dd MMM yyyy HH:mm"))</td>
                    <td>@module.EndDate.ToString(string.Format("dd MMM yyyy HH:mm"))</td>
                    
                </tr>
                    if (module.ModuleActivities.Count() == 0)
                    {

                        <tr id="Activities">
                            <td></td>
                            <td colspan="4">
                                No Activities
                            </td>
                        </tr>

                    }
                    else
                    {

                        foreach (var activities in module.ModuleActivities)
                        {
                            <tr id="Activities">
                                <td></td>
                                <td id="ActivitiesName">
                                    @Html.ActionLink(@activities.Name, "StudentsActivityDocuments", "Documents", new { id = activities.Id }, "")
                                </td>
                                <td>@activities.ActivityType.Name</td>
                                <td>@activities.StartDate.ToString(string.Format("dd MMM yyyy HH:mm"))</td>
                                <td>@activities.EndDate.ToString(string.Format("dd MMM yyyy HH:mm"))</td>
                              
                            </tr>
                        }
                    }
                }
        }

    </table>
</div>


@section Scripts {
    <script type="text/JavaScript">

    $(document).ready(function () {
        $('[data-toggle="popover"]').popover();

        $('[data-toggle="popover"]').on('mouseleave', function () {
            $('[data-toggle="popover"]').popover('hide');
        });
    });

   

    </script>
}
