@model SAS_LMS.Models.Course

<div class="panel panel-default">
    <div class="panel-heading">
        <a>
            <span class="panel-title pull-right glyphicon glyphicon-trash" onmouseover="this.style.cursor='pointer'"
                  onclick="@("window.location.href='" + @Url.Action("Delete", "Courses", new { id = Model.Id }) + "'");"></span>
            <span class="panel-title pull-right glyphicon glyphicon-pencil" onmouseover="this.style.cursor='pointer'"
                  onclick="@("window.location.href='" + @Url.Action("Edit", "Courses", new { id = Model.Id }) + "'");"></span>
        </a>
        <h1 class="panel-title">Course</h1>
       
       
    </div>
    <div class="panel-body">
        <h4>
            <span class="pull-right">
                Start Date :  &emsp;  @Model.StartDate.ToShortDateString()
            </span>
            <p>Name :   &emsp;      @Model.Name</p>
            <p>Description:  &emsp; @Model.Description</p>
        </h4>

    </div>

</div>


<div class="panel panel-default">
    <div class="panel-heading">
        <a> 
        <span class="panel-title pull-right glyphicon glyphicon-user" onmouseover="this.style.cursor='pointer'"
              onclick="@("window.location.href='" + @Url.Action("Enroll Student", "Courses",
                       new { id = Model.Id }) + "'");"></span>
        </a>
        <h1 class="panel-title">Course Participants</h1>

    </div>
        <div class="panel-body">
                Name :   &emsp;      @Model.CourseParticipants

        </div>
</div>

