@model SAS_LMS.Models.Course



<div class="panel panel-default">
    <div class="panel-heading">
        <span class="pull-right glyphicon glyphicon-trash" onmouseover="this.style.cursor='pointer'" data-toggle="tooltip" title="Delete the Course"
              onclick="@("window.location.href='" + @Url.Action("Delete", "Courses", new { id = Model.Id }) + "'");"></span>
        <span class="pull-right glyphicon glyphicon-pencil" onmouseover="this.style.cursor='pointer'" data-toggle="tooltip" title="Edit the Course"
              onclick="@("window.location.href='" + @Url.Action("Edit", "Courses", new { id = Model.Id }) + "'");"></span>
        <span class="pull-right  glyphicon glyphicon-Courses" onmouseover="this.style.cursor='pointer'" data-toggle="tooltip" title="Home Page"
              onclick="@("window.location.href='" + @Url.Action("Index", "Courses") + "'");"></span>
        <h1 class="panel-title">Course</h1>
    </div>
    <div class="panel-body">
        <h4>
            <span class="pull-right">
                Start Date :  &emsp;  @Model.StartDate.ToShortDateString()
            </span>
            <p>Name :   &emsp;      @Model.Name</p>
            <p>Description:  &emsp; @Model.Description</p>
        </h4>

    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <span class="pull-right">
            @Html.ActionLink("Add a new Module","Create","Modules", new { id = Model.Id },null)
        </span>
        <h1 class="panel-title">Course Modules</h1>
    </div>
    <table class="table table-striped">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th></th>
        </tr>

        @if (Model.CourseModules.Count() == 0)
        {
            <tr>
                <td>
                    Modules are yet to be planned
                </td>
            </tr>
        }

        @foreach (var item in Model.CourseModules)
        {
            <tr>
                <td>
                    @item.Name
                </td>

                <td>
                    @item.Description
                </td>

                <td>
                    @item.StartDate.ToShortDateString()
                </td>

                <td>
                    @item.EndDate.ToShortDateString()
                </td>
                <td>
                    <span class="pull-right glyphicon glyphicon-trash" onmouseover="this.style.cursor='pointer'" data-toggle="tooltip" title="Delete the Module"
                          onclick="@("window.location.href='" + @Url.Action("Delete", "Modules", new { id = item.Id }) + "'");"></span>
                    <span class="pull-right glyphicon glyphicon-pencil" onmouseover="this.style.cursor='pointer'" data-toggle="tooltip" title="Edit the Module"
                          onclick="@("window.location.href='" + @Url.Action("Edit", "Modules", new { id = item.Id }) + "'");"></span>
                </td>

            </tr>
        }
    </table>
</div>


<div class="panel panel-default">
    <div class="panel-heading">
        <span class="panel-title pull-right glyphicon glyphicon-user" onmouseover="this.style.cursor='pointer'" data-toggle="tooltip" title="Enroll a student to this course"
              onclick="@("window.location.href='" + @Url.Action("Enroll Student", "Courses",
                       new { id = Model.Id }) + "'");"></span>
        <h1 class="panel-title">Course Participants</h1>
    </div>
        <div class="panel-body">
                Name :   &emsp;      @Model.CourseParticipants
        </div>
</div>

